<?xml version="1.0" encoding="utf-8"?>
<Ribbon>
  <Page Name="Buttons" Use="true">
    <Group Name="Large Buttons" OptionButtonVisible="true" Text="" ToolTip="Large Buttons" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Connection Receiver="me" Signal="" Slot="slot_test()" Use="true"/>
      <Item Type="Action" ObjectName="action1" Icon="res/largeButton.png" Text="Button" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        <Connection Receiver="me2" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/largeToggleButton.png" Text="Toggle Button" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="true" Checked="true" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/largeToggleButton.png" Text="Popup Button" ToolButtonStyle="Qt::ToolButtonTextUnderIcon"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Menu" ObjecctName="menu1" Icon="res/largeToggleButton.png" Text="Popup Button" ToolButtonStyle="Qt::ToolButtonTextUnderIcon"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
          <Connection Receiver="me" Signal="" Slot="slot_test()"/>
          <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
            <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
          </Item>
          <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
            <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
          </Item>
          <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
            <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
          </Item>
        </Item>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/largeSplitButton.png" Text="Split Button" ToolButtonStyle="Qt::ToolButtonTextUnderIcon"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+o" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+q" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
      </Item>
    </Group>
    <Group Name="Small Buttons" OptionButtonVisible="true" Text="Small" ToolTip="Small Buttons" ControlsCentering="false" ControlsGrouping="false">
      <Connection Receiver="me" Signal="" Slot="slot_test()"/>
      <Item Type="Action" ObjectName="action1" Icon="res/smallButton.png" Text="Button" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextBesideIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/smallPopupButton.png" Text="Popup Button" ToolButtonStyle="Qt::ToolButtonTextBesideIcon"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/smallSplitButton.png" Text="Split Button" ToolButtonStyle="Qt::ToolButtonTextBesideIcon"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallButton.png" Text="Button" ToolTip="" ToolButtonStyle="Qt::ToolButtonIconOnly" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/smallPopupButton.png" Text="Popup Button" ToolButtonStyle="Qt::ToolButtonIconOnly"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
      </Item>
      <Item Type="Menu" ObjecctName="menu1" Icon="res/smallSplitButton.png" Text="Split Button" ToolButtonStyle="Qt::ToolButtonIconOnly"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="" Slot="slot_test()"/>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 1" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 2" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
        <Item Type="Action" ObjectName="action1" Icon="" Text="Option 3" ToolTip="" ToolButtonStyle="Qt::ToolButtonTextUnderIcon" Visible="" StatusTip="" Checkable="false" Checked="false" Enabled="true"     IconText=""   Shortcut="Ctrl+P" WhatsThis="" Use="true">
          <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
        </Item>
      </Item>
    </Group>
    <Group Name="Checkboxes Radio Buttons" OptionButtonVisible="true" Text="" ToolTip="Checkboxes Radio Buttons" ControlsCentering="true" ControlsGrouping="false">
      <Connection Receiver="me" Signal="" Slot="slot_test()"/>
      <Item Type="CheckBox" ObjecctName="CheckBox" Icon="" Text="CheckBox 1" ToolTip="CheckBox 1" CheckState="Qt::UnChecked"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" Checked="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="CheckBox" ObjecctName="CheckBox" Icon="" Text="CheckBox 2" ToolTip="CheckBox 1" CheckState="Qt::UnChecked"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" Checked="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="CheckBox" ObjecctName="CheckBox" Icon="" Text="CheckBox 3" ToolTip="CheckBox 1" CheckState="Qt::Checked"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" Checked="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="Separator"/>
      <Item Type="RadioButton" ObjecctName="RadioButton" Icon="" Text="Radio Button 1" ToolTip="Radio Button 1" Checked="true"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="RadioButton" Icon="" Text="Radio Button 2" ToolTip="Radio Button 2" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="RadioButton" Icon="" Text="Radio Button 3" ToolTip="Radio Button 3" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
    </Group>
    <Group Name="Groups" OptionButtonVisible="false" Text="" ToolTip="Groups" ControlsCentering="true" ControlsGrouping="true">
      <Item Type="Action" ObjectName="action1" Icon="res/smallNew.png" Text="New" ToolTip="Create a new document" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallOpen.png" Text="Open" ToolTip="Open an existing document" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallSave.png" Text="Save" ToolTip="Save the active document" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallCut.png" Text="Cut" ToolTip="Cut the selection and put it on the Clipboard" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallCopy.png" Text="Copy" ToolTip="Copy the selection and put it on the Clipboard" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallClipboard.png" Text="Paste" ToolTip="Insert Clipboard contents" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Separator"/>
      <Item Type="Action" ObjectName="action1" Icon="res/smallUndo.png" Text="Undo" ToolTip="Undo the last action" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" ObjectName="action1" Icon="res/smallRedo.png" Text="Redo" ToolTip="Redo the previously undone action" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" Visible="" StatusTip="" Enabled="true"     IconText=""   Shortcut="" WhatsThis="" Use="true">
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()" Use="true"/>
      </Item>
      <Item Type="Action" Enable="false" Icon="res/smallRedo.png" Text="Redo" ToolTip="Redo the previously undone action" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" >
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()"/>
      </Item>
      <Item Type="Separator"/>
      <Item Type="Action" Enable="false" Icon="res/smallPrint.png" Text="Print" ToolTip="Print the active document" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" >
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()"/>
      </Item>
      <Item Type="Action" Enable="false" Icon="res/about.png" Text="About" ToolTip="Display program information, version number and copyright" ToolButtonStyle="Qt::ToolButtonIconOnly" Checkable="false" Checked="false" >
        <Connection Receiver="me" Signal="triggered()" Slot="slot_test()"/>
      </Item>
    </Group>
  </Page>
  <Page Name="Editors" Use="true">
    <Group Name="Standard" OptionButtonVisible="false" Text="" ToolTip="Standard" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="LineEdit" ObjecctName="LineEdit" Icon="" Text="" ToolTip="Edit"  Width="" Height=""  Enabled="" MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   Alignment="" Frame="" InputMask="" MaxLength=""  ReadOnly="" Use="true">
        <Connection Receiver="me" Signal="editingFinished ()" Slot="slot_editingFinished ()"/>
      </Item>
      <Item Type="ComboBox" ObjecctName="ComboBox" Icon="" Text="" Editable="true" ToolTip="Combo"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   CurrentIndex="" DuplicatesEnabled="" Frame="" IconWidth="" IconHeight=""  MaxCount="" MaxVisibleItems="" MinimumContentsLength="" Use="true">
        <Item Icon="" Text="Item 1" UserData=""/>
        <Item Icon="" Text="Item 2" UserData=""/>
        <Item Icon="" Text="Item 3" UserData=""/>
        <Connection Receiver="me" Signal="currentIndexChanged ( int )" Slot="slot_currentIndexChanged ( int )"/>
      </Item>
      <Item Type="ComboBox" ObjecctName="ComboBox" Icon="" Text="" Editable="false" ToolTip="Combo"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   CurrentIndex="" DuplicatesEnabled="" Frame="" IconWidth="" IconHeight=""  MaxCount="" MaxVisibleItems="" MinimumContentsLength="" Use="true">
        <Item Icon="" Text="Item 1" UserData=""/>
        <Item Icon="" Text="Item 2" UserData=""/>
        <Connection Receiver="me" Signal="currentIndexChanged ( int )" Slot="slot_currentIndexChanged ( int )"/>
      </Item>
    </Group>
    <Group Name="Extended" OptionButtonVisible="false" Text="" ToolTip="Extended" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="SpinBox" ObjecctName="SpinBox" Icon="res/smallEditor.png" Text="SpinBox" Maximum="" Minimum="" Prefix="" SingleStep="" Suffix="" Value="" ToolTip="SpinBox"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   Use="true">
        <Connection Receiver="me" Signal="valueChanged ( int )" Slot="slot_valueChanged ( int )"/>
      </Item>
      <Item Type="ComboBox" ObjecctName="ComboBox" Icon="res/smallComboBox.png" Text="ComboBox" Editable="true" ToolTip="Combo"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   CurrentIndex="" DuplicatesEnabled="" Frame="" IconWidth="" IconHeight=""  MaxCount="" MaxVisibleItems="" MinimumContentsLength="" Use="true">
        <Item Icon="" Text="Item 1" UserData=""/>
        <Item Icon="" Text="Item 2" UserData=""/>
        <Item Icon="" Text="Item 3" UserData=""/>
        <Connection Receiver="me" Signal="currentIndexChanged ( int )" Slot="slot_currentIndexChanged ( int )"/>
      </Item>
      <Item Type="ComboBox" ObjecctName="ComboBox" Icon="res/smallComboBox.png" Text="ComboBox" Editable="false" ToolTip="Combo"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   CurrentIndex="" DuplicatesEnabled="" Frame="" IconWidth="" IconHeight=""  MaxCount="" MaxVisibleItems="" MinimumContentsLength="" Use="true">
        <Item Icon="" Text="Item 1" UserData=""/>
        <Item Icon="" Text="Item 2" UserData=""/>
        <Item Icon="" Text="Item 3" UserData=""/>
        <Connection Receiver="me" Signal="currentIndexChanged ( int )" Slot="slot_currentIndexChanged ( int )"/>
      </Item>
    </Group>
    <Group Name="Gallery" OptionButtonVisible="false" Text="" ToolTip="Gallery" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="FontComboBox" ObjecctName="FontComboBox" FontFilters="" Icon="res/smallComboBox.png" Text="" Editable="true" ToolTip="Font:"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="150" MinimumHeight="" MinimumWidth="150" StatusTip="" StyleSheet="" Visible="" WhatsThis=""   CurrentIndex="" DuplicatesEnabled="" Frame="" IconWidth="" IconHeight=""  MaxCount="" MaxVisibleItems="" MinimumContentsLength="" Use="true">
      </Item>
    </Group>
  </Page>
  <Page Name="Misc" Use="true">
    <Group Name="Label" OptionButtonVisible="false" Text="" ToolTip="Extended" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="Label" ObjecctName="Label" Icon="" Text="Label Text 1" Alignment="" OpenExternalLinks="false" Pixmap="" ScaledContents="false" WordWrap="false" Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Label" ObjecctName="Label" Icon="" Text="Label Text 2" Alignment="" OpenExternalLinks="false" Pixmap="" ScaledContents="false" WordWrap="false" Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Label" ObjecctName="Label" Icon="" Text="Label Text 3" Alignment="" OpenExternalLinks="false" Pixmap="" ScaledContents="false" WordWrap="false" Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
    </Group>
    <Group Name="Bitmap" OptionButtonVisible="false" Text="" ToolTip="Extended" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="Label" ObjecctName="Label" Icon="" Text="Label Text 1" Alignment="" OpenExternalLinks="false" Pixmap="res/Windows.png" ScaledContents="false" WordWrap="false" Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
    </Group>
    <Group Name="Bitmap" OptionButtonVisible="false" Text="" ToolTip="Extended" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="Label" ObjecctName="Label" Icon="" Text="Label Text 1" Alignment="" OpenExternalLinks="false" Pixmap="res/linux.png" ScaledContents="false" WordWrap="false" Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
    </Group>
    <Group Name="ProgressBar" OptionButtonVisible="false" Text="" ToolTip="ProgressBar" ControlsCentering="false" ControlsGrouping="false" Use="true">
      <Item Type="ProgressBar" ObjecctName="ProgressBar" Icon="" Text="" Alignment="Qt::AlignHCenter" Minimum="0" Maximum="100" Orientation="" TextVisible="true" Value="40" Width="" Height=""  Enabled=""      MaximumHeight="22" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="ProgressBar" ObjecctName="ProgressBar" Icon="" Text="" Alignment="Qt::AlignHCenter" Minimum="0" Maximum="100" Orientation="" TextVisible="false" Value="40" Width="" Height=""  Enabled=""      MaximumHeight="22" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="CheckBox" ObjecctName="CheckBox" Icon="" Text="Animation bar" ToolTip="Animation bar" CheckState="Qt::UnChecked"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" Checked="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
    </Group>
    <Group Name="ScrollBar" OptionButtonVisible="false" Text="" ToolTip="ScrollBar" ControlsCentering="true" ControlsGrouping="false" Use="true">
      <Item Type="ScrollBar" ObjecctName="ScrollBar" Icon="" Text="" Minimum="0" Maximum="20" Orientation="" PageStep="" SingleStep="" Tracking="" Value=""  Width="" Height=""  Enabled=""      MaximumHeight="18" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
    </Group>
    <Group Name="Slider" OptionButtonVisible="false" Text="" ToolTip="Slider" ControlsCentering="true" ControlsGrouping="false" Use="true">
      <Item Type="RibbonSliderPane" ObjecctName="RibbonSliderPane" Icon="" Text="" ScrollButtons="true" SingleStep="10" SliderPosition="50" Width="" Height=""  Enabled=""      MaximumHeight="18" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Slider" ObjecctName="Slider" Icon="" Text="" TickInterval="20" TickPosition="QSlider::TicksLeft" Minimum="0" Maximum="100" Orientation="" PageStep="" SingleStep="10" Tracking="" Value="50"  Width="" Height=""  Enabled=""      MaximumHeight="20" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Slider" ObjecctName="Slider" Icon="" Text="" TickInterval="20" TickPosition="QSlider::TicksRight" Minimum="0" Maximum="100" Orientation="" PageStep="" SingleStep="" Tracking="" Value=""  Width="" Height=""  Enabled=""      MaximumHeight="20" MaximumWidth="" MinimumHeight="" MinimumWidth="100" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Separator"/>
      <Item Type="Slider" ObjecctName="Slider" Icon="" Text="" TickInterval="20" TickPosition="QSlider::TicksLeft" Minimum="0" Maximum="100" Orientation="Qt::Vertical" PageStep="" SingleStep="" Tracking="" Value=""  Width="" Height=""  Enabled=""      MaximumHeight="60" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Slider" ObjecctName="Slider" Icon="" Text="" TickInterval="20" TickPosition="QSlider::TicksRight" Minimum="0" Maximum="100" Orientation="Qt::Vertical" PageStep="" SingleStep="" Tracking="" Value=""  Width="" Height=""  Enabled=""      MaximumHeight="60" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
      <Item Type="Separator"/>
      <Item Type="Slider" ObjecctName="Slider" Icon="" Text="" TickInterval="" TickPosition="" Minimum="0" Maximum="100" Orientation="Qt::Vertical" PageStep="" SingleStep="" Tracking="" Value=""  Width="" Height=""  Enabled=""      MaximumHeight="60" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" ToolTip="" Visible="" WhatsThis=""   Use="true">
      </Item>
    </Group>
  </Page>
  <Page Name="Context Tab" Use="true">
    <Group Name="Context Color" OptionButtonVisible="true" Text="" ToolTip="Context Color" ControlsCentering="false" ControlsGrouping="false">
      <Item Type="RadioButton" ObjecctName="Green" Icon="" Text="Green" ToolTip="Color Green" Checked="true"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Blue" Icon="" Text="Blue" ToolTip="Color Blue" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Red" Icon="" Text="Red" ToolTip="Color Red" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Yellow" Icon="" Text="Yellow" ToolTip="Color Yellow" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Cyan" Icon="" Text="Cyan" ToolTip="Color Cyan" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Purple" Icon="" Text="Purple" ToolTip="Color Purple" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
      <Item Type="RadioButton" ObjecctName="Orange" Icon="" Text="Orange" ToolTip="Color Orange" Checked="false"  Width="" Height=""  Enabled=""      MaximumHeight="" MaximumWidth="" MinimumHeight="" MinimumWidth="" StatusTip="" StyleSheet="" Visible="" WhatsThis=""    Checkable="" IconWidth="" IconHeight="" Shortcut="" Use="true">
        <Connection Receiver="me" Signal="stateChanged ( int )" Slot="slot_stateChanged ( int )" Use="true"/>
      </Item>
    </Group>
  </Page>
</Ribbon>